.logo {
  height: 40px;
  width: auto;
  border-radius: 50%;
}

.animated-logo-text {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #6a0dad, #ff00ff, #008080, #6a0dad); /* Purple → Magenta → Teal → Purple */
  background-size: 300% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: purpleMagentaTealFlow 5s ease-in-out infinite;
}

@keyframes purpleMagentaTealFlow {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}



@import "bootstrap";
@import "shared"; 

